<h1>{{title}}</h1>
<hr>

<h3>Route params y query strings</h3>

<p>Ejemplos con <strong>route params</strong> (se almacenan en <code>req.params</code>):</p>

<ul>
        <li><a target="_blank"
                        href="/tienda/temporada/verano/prendas/chaqueta">/tienda/temporada/verano/prendas/chaqueta</a>
        </li>
        <li><a target="_blank"
                        href="/tienda/temporada/otoño/prendas/whatever">/tienda/temporada/otoño/prendas/whatever</a>
        </li>
</ul>

<p>Ejemplos con <strong>query strings</strong> (se almacenan en <code>req.query</code>):</p>
<ul>
        <li><a target="_blank"
                        href="/tienda/buscador?nombre=cafe&precio-max=30&ciudad=madrid">/tienda/buscador?nombre=cafe&precio-max=30&ciudad=madrid</a>
        </li>
        <li><a target="_blank"
                        href="/tienda/buscador?calle=Serrano&portal=48&piso=3&puerta=B&codigo-postal=28002">/tienda/buscador?calle=Serrano&portal=48&piso=3&puerta=B&codigo-postal=28002</a>
        </li>
</ul>

<hr>

<h3>Buscador de vuelos (get form)</h3>
<p>Visita nuestro buscador de vuelos <a href="/vuelos/buscar">en este enlace</a></p>

<hr>

<h3>Inicio de sesión (post form)</h3>
<p>Accede a tu cuenta <a href="/inicio-sesion">en este enlace</a></p>