<h1>Inicio sesión</h1>

<hr>

<form action="/inicio-sesion" method="POST">

    <label>
        Email <input type="email" name="emailValue">
    </label>
    <br><br>
    <label>
        Contraseña <input type="password" name="passwordValue">
    </label>
    <br><br>
    <input type="submit" value="Iniciar sesión">
</form>